.vertical-center {

  position:relative;
  top:50%;
  transform: translateY(-50%);

}

body {
  font-family: 'Slabo 27px', serif;
  height:100vh;
  padding:30px;
}

#root {
  height:100vh;
}

#home {
  text-align:center;
  padding-top:100px;
}

#posts {
  margin-top:20px;
}

img {
  width:100px;
}
